body {
	position: relative;
	font-family: $font-family-base;
	font-size: $font-size-base;
	color: $font-color-base;
	background: $white;
}

.wrap {
	position: relative;
	padding-top: $header-height;
}

.notifications {
	top: $header-height !important;
}

.vue-notification {
  	background: $green !important;
  	border-left-color: !important;
}