@font-face {
	font-family: 'Rubik-Light';
	src: url('/public/fonts/Rubik/Rubik-Light/Rubik-Light.eot');
	src: url('/public/fonts/Rubik/Rubik-Light/Rubik-Light.eot?#iefix') format('embedded-opentype'),
		url('/public/fonts/Rubik/Rubik-Light/Rubik-Light.svg') format('svg'),
		url('/public/fonts/Rubik/Rubik-Light/Rubik-Light.woff2') format('woff2'),
		url('/public/fonts/Rubik/Rubik-Light/Rubik-Light.woff') format('woff'),
		url('/public/fonts/Rubik/Rubik-Light/Rubik-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Rubik-Light';
	src: url('/public/fonts/Rubik/Rubik-Light/Rubik-Light.eot');
	src: url('/public/fonts/Rubik/Rubik-Light/Rubik-Light.eot?#iefix') format('embedded-opentype'),
		url('/public/fonts/Rubik/Rubik-Light/Rubik-Light.svg') format('svg'),
		url('/public/fonts/Rubik/Rubik-Light/Rubik-Light.woff2') format('woff2'),
		url('/public/fonts/Rubik/Rubik-Light/Rubik-Light.woff') format('woff'),
		url('/public/fonts/Rubik/Rubik-Light/Rubik-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Rubik-Medium';
	src: url('/public/fonts/Rubik/Rubik-Medium/Rubik-Medium.eot');
	src: url('/public/fonts/Rubik/Rubik-Medium/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
		url('/public/fonts/Rubik/Rubik-Medium/Rubik-Medium.svg') format('svg'),
		url('/public/fonts/Rubik/Rubik-Medium/Rubik-Medium.woff2') format('woff2'),
		url('/public/fonts/Rubik/Rubik-Medium/Rubik-Medium.woff') format('woff'),
		url('/public/fonts/Rubik/Rubik-Medium/Rubik-Medium.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Rubik-Medium';
	src: url('/public/fonts/Rubik/Rubik-Medium/Rubik-Medium.eot');
	src: url('/public/fonts/Rubik/Rubik-Medium/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
		url('/public/fonts/Rubik/Rubik-Medium/Rubik-Medium.svg') format('svg'),
		url('/public/fonts/Rubik/Rubik-Medium/Rubik-Medium.woff2') format('woff2'),
		url('/public/fonts/Rubik/Rubik-Medium/Rubik-Medium.woff') format('woff'),
		url('/public/fonts/Rubik/Rubik-Medium/Rubik-Medium.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Rubik-Regular';
	src: url('/public/fonts/Rubik/Rubik-Regular/Rubik-Regular.eot');
	src: url('/public/fonts/Rubik/Rubik-Regular/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
		url('/public/fonts/Rubik/Rubik-Regular/Rubik-Regular.svg') format('svg'),
		url('/public/fonts/Rubik/Rubik-Regular/Rubik-Regular.woff2') format('woff2'),
		url('/public/fonts/Rubik/Rubik-Regular/Rubik-Regular.woff') format('woff'),
		url('/public/fonts/Rubik/Rubik-Regular/Rubik-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Rubik-Regular';
	src: url('/public/fonts/Rubik/Rubik-Regular/Rubik-Regular.eot');
	src: url('/public/fonts/Rubik/Rubik-Regular/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
		url('/public/fonts/Rubik/Rubik-Regular/Rubik-Regular.svg') format('svg'),
		url('/public/fonts/Rubik/Rubik-Regular/Rubik-Regular.woff2') format('woff2'),
		url('/public/fonts/Rubik/Rubik-Regular/Rubik-Regular.woff') format('woff'),
		url('/public/fonts/Rubik/Rubik-Regular/Rubik-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}