.text {
	p {		
	    -webkit-margin-before: 1em;
	    -webkit-margin-after: 1em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    
	    font-size: 24px;
		font-weight: 300;
		letter-spacing: 0.6px;
		line-height: 50px;
	}
}